<div class="row header">
    <div class="container property">
        <div class="main">
            <div class="mn__block mn__logo">
                <a href="/" class="logo">КошерГид</a>
            </div>

            <div class="mn__block mn__menu">
                <a class="link" href="/category/synagogues/">Синагоги</a>
                <a class="link" href="/category/restaurants/">Рестораны</a>
            </div>

            <div class="mn__block"></div>

            <div class="mn__block mn__search">
                <form action="/search/" autocomplete="off">
                    <input id="search" type="search" onkeyup="buttonUp();" placeholder="Найти" value="" name="q" class="sb-search-input" />
                    <input type="submit" value="" class="sb-search-submit">
                    <div class="material-icons icon-search sb-icon-search">search</div>
                </form>
            </div>
        </div>
    </div>
</div>