{% extends 'guide/layout.html' %}

{% load static %}

{% block head %}
    <title>КошерГид - Главная</title>
{% endblock %}

{% block content %}

    <div class="col cf_banner">
        <div class="container property">

            <div class="hero__inner hero_medium">
                <div class="imageCover hero_overlay" style="background-image: url({% static 'guide/images/1.jpg' %})"></div>
                    <div class="infoBlock">
                    <h1 class="title">КошерГид</h1>
                    <div class="text">
                        <p>Здесь, Вы, получите то, что всегда мечтали найти. Посетите синагоги, попробуйте вкусную кошерную еду и откройти для себя замечательные еврейские культурные центры.</p>
                        <p> P.S. «Приятного путешествия в еврейский мир!» Команда КошерГид</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{#    <div class="row cf_category">#}
{#        <div class="container">#}
{#        </div>#}
{#    </div>#}

    <div class="row">
        <div class="container">

            <div class="lineTitle">Категории
                <div class="gridPanel" data-grid="1">
                    <span data-id="0" class="material-icons icon-th-list is-active ">view_module</span>
                    <span data-id="1" class="material-icons icon-th">view_stream</span>
                </div>
            </div>

            <section class="items news-th x3" data-grid="1">
                {% for category in categories %}
                    <article class="item">
                        <div class="wrapper">
                            <a href="" class="it_pic">
                                <div class="imageCover ratio-3-4">
                                    <div class="placeholder" style="background-image: url('{{ category.pic.url }}')"></div>
                                    <img src="{{ category.pic.url }}" alt="" class="image">
                                </div>
                            </a>

                            <div class="it_content">
                                <h2 class="title">
                                    {% if category.handle == 'restaurants' %}
                                        <a href="{% url 'guide:restaurants' %}">{{ category.title }}</a>
                                    {% endif %}
                                    {% if category.handle == 'synagogues' %}
                                        <a href="{% url 'guide:synagogues' %}">{{ category.title }}</a>
                                    {% endif %}
                                </h2>
                                <div class="description">{{ category.preview_text }}</div>
{#                                <div class="tags">#}
{#                                    {% if category.handle == 'restaurants' %}#}
{#                                        {% for kitchen in kitchens %}#}
{#                                            <a href="{% url 'guide:restaurants' %}?kitchens={{kitchen.handle}}">{{ kitchen.title }}</a>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </div>#}
                            </div>

                        </div>
                    </article>
                {% endfor %}
            </section>
        </div>
    </div>

    <div class="row">
        <div class="container">

            <div class="lineTitle">Новости
                <div class="gridPanel" data-grid="2">
                    <span data-id="0" class="material-icons icon-th-list is-active ">view_module</span>
                    <span data-id="1" class="material-icons icon-th">view_stream</span>
                </div>
            </div>

            <section class="items news-th x3" data-grid="2">
                {% for post in posts %}
                    <article class="item wide">
                        <div class="wrapper">
                            <a href="" class="it_pic">
                                <div class="imageCover ratio-3-4">
                                    <div class="placeholder" style="background-image: url('{{ post.pic.url }}')"></div>
                                    <img src="{{ post.pic.url }}" alt="" class="image">
                                </div>
                            </a>

                            <div class="it_content">
                                <h2 class="title">
                                       <a href="{% url 'guide:post' post.id %}">{{ post.title }}</a>
                                </h2>
                                <div class="description">{{ post.preview_text }}</div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </section>

        </div>
    </div>
{% endblock %}
