{% extends 'guide/base.html' %}

{% load static %}

{% block content %}
   <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">КошерГид</h1>
      <p class="lead">Здесь, Вы, получите то, что всегда мечтали найти. Посетите синагоги, попробуйте вкусную кошерную еду и откройти для себя замечательные еврейские культурные центры.</p>
      <p><em>P.S. «Приятного путешествия в еврейский мир!» Команда КошерГид</em></p>
    </div>

    <!-- Список категорий -->
     <div class="row categories">
        <div class="col-md-12">
            {% for category in categories %}
            <div class="card bg-dark text-white">
              <img class="card-img" src="{{ category.pic.url }}" alt="Card image">
              <div class="card-img-overlay">
                {% if category.handle == 'restaurants' %}
                    <h2 class="display-4"><a href="{% url 'guide:restaurants' category.handle %}">{{ category.title }}</a></h2>

                    <div class="links">
                        {% for kitchen in kitchens %}
                            <a href="{% url 'guide:restaurants' category.handle %}?kitchens={{kitchen.handle}}">{{ kitchen.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if category.handle == 'synagogues' %}
                    <h2 class="display-4"><a href="{% url 'guide:synagogues' category.handle %}">{{ category.title }}</a></h2>
                {% endif %}
                <p class="lead">{{ category.preview_text }}</p>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Список постов -->
    {% if posts|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <h3 class="pb-3 mb-4 border-bottom">Новости</h3>
            </div>

            {% for post in posts %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="{{ post.pic.url }}">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'guide:post' post.id %}">{{ post.title }}</a></h5>
                            <p class="card-text">{{ post.preview_text|linebreaksbr }}</p>
                            <a href="{% url 'guide:post' post.id %}" class="btn btn-primary">Читать</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}