{% extends 'guide/layout.html' %}

{% load static %}

{% block head %}
    <title>КошерГид - Карта</title>
{% endblock %}

{% block script %}
     <script src="{% static 'guide/js/map.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="col cf_map">
        <div id='map' class='mapPage'></div>
        <div class="content">
            <ul class="menu">
                <li{%if sectionCode == 'restaurants' %} class="current"{%endif%}><a href="?section=restaurants">Рестораны</a></li>
                <li{%if sectionCode == 'synagogues' %} class="current"{%endif%}><a href="?section=synagogues">Синагоги</a></li>
            </ul>

            <div id='listings' class='listings scrollbar'></div>
        </div>
        <div style="display: none;" id="json_stores">{{stores}}</div>
    </div>
{% endblock %}


