{% extends 'guide/base.html' %}

{% load static %}

{% block content %}
  {% if query == '' %}
    Задан пустой поисковый запрос
  {% else %}
    <p class="search-query">Результаты по запросу <strong>«{{ query }}»</strong></p>

    {% if restaurants|length > 0 %}
      <div class="search-block">
        <p class="search-block__title">Рестораны</p>
        <div class="search-block__list">
          {% for restaurant in restaurants %}
            <div class="col-md-12">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <a href="{% url 'guide:restaurant' restaurant.handle %}">
                        <img class="card-img-right flex-auto d-none d-lg-block" src="{{ restaurant.pic.url }}" height="145px">
                    </a>
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-2">
                            <a class="text-dark" href="{% url 'guide:restaurant' restaurant.handle %}">
                                {{ restaurant.title }}
                            </a>
                        </h3>
                        {% if restaurant.preview_text != null %}
                            <p class="card-text mb-auto">{{ restaurant.preview_text|linebreaksbr }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}