{% extends 'guide/layout.html' %}

{% load static %}

{% block head %}
    <title>КошерГид - Карта</title>
{% endblock %}

{% block content %}
    <div class="row cf_search">
        <div class="container">
            {% if query == '' %}
                <div class="search-wrapper wh_bl">
                    <div class="search-query">Задан пустой поисковый запрос</div>

                    <form class="searchContent" action="/search/" autocomplete="off">
                        <div class="formSearch">
                            <input id="search" type="text" placeholder="Поиск" value="" name="q">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.3 17" width="22.3" height="17"><path d="M20.5,0H6.9A2.106,2.106,0,0,0,5.6.5L.6,7.2a1.708,1.708,0,0,0,0,2.6l5.1,6.7a1.656,1.656,0,0,0,1.2.5H20.5a1.793,1.793,0,0,0,1.8-1.8V1.8A1.793,1.793,0,0,0,20.5,0ZM17.3,11.3l-.7.7-.7.7L13.1,9.9l-2.8,2.8L9.6,12h0l-.7-.7,2.8-2.8L8.9,5.7,9.6,5l.7-.7,2.8,2.8,2.8-2.8.7.7.7.7L14.5,8.5Z"></path></svg>
                        </div>
                        <div class="btnSearch">
                            <input class="submit" type="submit" value="">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.488 19.5" width="22" height="23"><path d="M19.2,17.8,13.5,12A7.177,7.177,0,0,0,15,7.5,7.555,7.555,0,0,0,7.5,0,7.555,7.555,0,0,0,0,7.5,7.555,7.555,0,0,0,7.5,15,7.6,7.6,0,0,0,12,13.5l5.7,5.7a.967.967,0,0,0,1.4,0A.9.9,0,0,0,19.2,17.8ZM2,7.5A5.549,5.549,0,0,1,7.5,2,5.549,5.549,0,0,1,13,7.5,5.549,5.549,0,0,1,7.5,13,5.549,5.549,0,0,1,2,7.5Z"></path></svg>
                        </div>
                    </form>
                </div>
            {% else %}
                <form class="searchContent" action="/search/" autocomplete="off">
                    <div class="formSearch">
                        <input id="search" type="text" placeholder="Поиск" value="{{ query }}" name="q">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.3 17" width="22.3" height="17"><path d="M20.5,0H6.9A2.106,2.106,0,0,0,5.6.5L.6,7.2a1.708,1.708,0,0,0,0,2.6l5.1,6.7a1.656,1.656,0,0,0,1.2.5H20.5a1.793,1.793,0,0,0,1.8-1.8V1.8A1.793,1.793,0,0,0,20.5,0ZM17.3,11.3l-.7.7-.7.7L13.1,9.9l-2.8,2.8L9.6,12h0l-.7-.7,2.8-2.8L8.9,5.7,9.6,5l.7-.7,2.8,2.8,2.8-2.8.7.7.7.7L14.5,8.5Z"></path></svg>
                    </div>
                    <div class="btnSearch">
                        <input class="submit" type="submit" value="">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.488 19.5" width="22" height="23"><path d="M19.2,17.8,13.5,12A7.177,7.177,0,0,0,15,7.5,7.555,7.555,0,0,0,7.5,0,7.555,7.555,0,0,0,0,7.5,7.555,7.555,0,0,0,7.5,15,7.6,7.6,0,0,0,12,13.5l5.7,5.7a.967.967,0,0,0,1.4,0A.9.9,0,0,0,19.2,17.8ZM2,7.5A5.549,5.549,0,0,1,7.5,2,5.549,5.549,0,0,1,13,7.5,5.549,5.549,0,0,1,7.5,13,5.549,5.549,0,0,1,2,7.5Z"></path></svg>
                    </div>
                </form>

                <div class="lineTitle">Результаты по запросу <strong>«{{ query }}»</strong>
                    <div class="gridPanel" data-grid="1">
                        <span data-id="0" class="material-icons icon-th-list is-active ">view_module</span>
                        <span data-id="1" class="material-icons icon-th">view_stream</span>
                    </div>
                </div>

                <section class="items news-th x3" data-grid="1">
                    {% if restaurants|length > 0 %}
                        {% for restaurant in restaurants %}
                            <article class="item">
                                <div class="wrapper">
                                    <a href="{% url 'guide:restaurant' restaurant.handle %}" class="it_pic">
                                        <div class="imageCover ratio-3-4">
                                            <div class="placeholder" style="background-image: url('{{ restaurant.pic.url }}')"></div>
                                            <img src="{{ restaurant.pic.url }}" alt="" class="image">
                                        </div>
                                    </a>

                                    <div class="it_content">
                                        <h2 class="title">
                                            <a href="{% url 'guide:restaurant' restaurant.handle %}">{{ restaurant.title }}</a>
                                        </h2>
                                        {% if restaurant.preview_text != null %}
                                            <div class="description">{{ restaurant.preview_text|linebreaksbr }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    {% endif %}

                    {% if synagogues|length > 0 %}
                        {% for synagogue in synagogues %}
                        <article class="item">
                            <div class="wrapper">
                                <a href="{% url 'guide:synagogue' synagogue.handle %}" class="it_pic">
                                    <div class="imageCover ratio-3-4">
                                        <div class="placeholder" style="background-image: url('{{ synagogue.pic.url }}')"></div>
                                        <img src="{{ synagogue.pic.url }}" alt="" class="image">
                                    </div>
                                </a>

                                <div class="it_content">
                                    <h2 class="title">
                                        <a href="{% url 'guide:synagogue' synagogue.handle %}">{{ synagogue.title }}</a>
                                    </h2>
                                    {% if synagogue.preview_text != null %}
                                        <div class="description">{{ synagogue.preview_text|linebreaksbr }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    {% endif %}

                </section>
            {% endif %}
        </div>
    </div>
{% endblock %}