{% extends 'guide/layout.html' %}

{% load static %}

{% block head %}
    <title>КошерГид - Синагоги</title>
{% endblock %}

{% block content %}
    <div class="row cf_detail">
        <div class="container">
            <div class="dt_content">
                <a href="/category/synagogues/" class="btnBack">Вернуться к синагогам</a>
                <div class="dt_viewBlock Block wh_bl">
                   <div class="category">Синагога</div>
                   <h2 class="title"> {{synagogue.title}}
                        {% if synagogue.rating %}
                           <div class="ratingScore" data-score="{{synagogue.rating}}">
                               <div class="count">{{synagogue.rating}}</div>
                               <div class="score">
                                   <span></span>
                                   <span></span>
                                   <span></span>
                                   <span></span>
                                   <span></span>
                               </div>
    {#                            <a href="" class="btnReviews">#}
    {#                                Отзывов:#}
    {#                                <span>37</span>#}
    {#                            </a>#}
                           </div>
                       {% endif %}
                   </h2>

                    {% if gallery|length > 0 %}
                       <div class="detailCarousel imageGallery">
                           {% for g in gallery %}
                               <a href="{{ g.image.url }}" style="background-image: url({{ g.image.url }})" class="item">
                                   <img src="{{ g.image.url }}" alt="" class="image">
                               </a>
                           {% endfor %}
                        </div>
                   {% endif %}

                    {% if synagogue.text != '' %}
                        <div class="titleBlock">Описание
                           {# <div class="workingHours">Открыто до 00:00</div> #}
                        </div>
                        <div class="description">
                            <p>{{synagogue.text}}</p>
                        </div>
                    {% endif %}

{#                   <div class="buttons">#}
{#                       <a href="" class="btnGreen btn_sendReview">Написать отзыв</a>#}
{#                    </div>#}
               </div>

                <div class="dt_infoBlock">
                    <div class="titleBlock">О синагоге</div>
                    <ul class="listInfo wh_bl">
                        {% if synagogue.address %}
                            <li>
                                <div class="name">Адрес</div>
                                <div class="info">{{ synagogue.address }}</div>
                            </li>
                        {% endif %}
                        {% if phones|length > 0 %}
                            <li>
                                <div class="name">Телефон</div>
                                 <ul class="info">
                                    {% for phone in phones %}<li>{{ phone.title }}</li>{% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if emails|length > 0 %}
                            <li>
                                <div class="name">Почта</div>
                                <ul class="info">
                                    {% for email in emails %}<li>{{ email.title }}</li>{% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if workingHours|length > 0 %}
                            <li>
                                <div class="name">Время работы</div>
                                <ul class="info">
                                    {% for workingHour in workingHours %}<li>{{ workingHour.title }}</li>{% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        <li>
                            <div class="name">Парковка</div>
                            <div class="info">
                                {% if synagogue.parking_space %} есть {% else %} нет {% endif %}
                            </div>
                        </li>
                        <li>
                            <div class="name">Wi-Fi</div>
                            <div class="info">
                                {% if synagogue.wifi %} есть {% else %} нет {% endif %}
                            </div>
                        </li>
                        <li>
                            <div class="name">Есть ресторан</div>
                            <div class="info">
                                {% if synagogue.is_restaurant %} есть {% else %} нет {% endif %}
                            </div>
                        </li>
                        {% if synagogue.site %}
                            <li>
                                <div class="name">Сайт</div>
                                <div class="info"><a href="{{ synagogue.site }}" class="link" target="_blank">{{ synagogue.site }}</a></div>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                {% if jsonCoordinates != '' %}
                    <div class="dt_mapBlock">
                        <div class="titleBlock">Синагога на карте</div>
                        <div class="wrapper wh_bl">
                            <div id="json-coordinates" style="display:none;">{{jsonCoordinates}}</div>
                            <div id='map' class='map-org__map'></div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="dt_rightSide">
                <div class="widget_location">
                    <div class="titleBlock">Вызвать такси</div>
                    <div class="wl_map wh_bl">
                        <script src="//yastatic.net/taxi-widget/ya-taxi-widget.js"></script>
                        <div class="ya-taxi-widget"
                            data-use-location="true"
                            data-size="m"
                            data-title=""
                            data-point-a=""
                            data-point-b="{{ synagogue.lng }},{{ synagogue.lat }}"
                            data-ref="https://kosherguide.pythonanywhere.com"
                            data-theme="normal"
                            data-proxy-url="https://3.redirect.appmetrica.yandex.com/route?start-lat={start-lat}&amp;start-lon={start-lon}&amp;end-lat={end-lat}&amp;end-lon={end-lon}&amp;ref={ref}&amp;appmetrica_tracking_id=1178268795219780156">
                        </div>
                    </div>
                </div>

                {% if dbSynagoguesSame|length > 0 %}
                    <div class="widget_recommended">
                        <div class="titleBlock">Другие синагоги</div>
                        <ul class="list_face wh_bl">
                            {% for synagogue in dbSynagoguesSame %}
                               <li>
                                  {% if synagogue.pic.url %}
                                        <a href="{% url 'guide:synagogue' synagogue.handle %}" class="images" style="background-image: url({{ synagogue.pic.url }})">
                                            <img src="{{ synagogue.pic.url }}">
                                        </a>
                                   {% endif %}
                                   <div class="infoBlock">
                                       {% if synagogue.rating %}
                                            <div class="rating high">{{synagogue.rating}}</div>
                                       {% endif %}
                                       <a href="{% url 'guide:synagogue' synagogue.handle %}" class="title">{{synagogue.title}}</a>
                                       {% if synagogue.preview_text %}
                                            <a href="#" class="location">{{synagogue.preview_text}}</a>
                                       {% endif %}
                                   </div>
                               </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}