{% extends 'guide/layout.html' %}

{% load static %}

{% block head %}
    <title>КошерГид - Синагоги</title>
{% endblock %}

{% block content %}
    <div class="row cf_filterPage">
        <div class="container">
            <div class="fp_container">
                <div class="navbar">
                    <div class="lineTitle">Фильтр</div>
                    <div class="wrapper">
                        <a href="/map/?section=restaurants" target="_blank" class="mapInner">
                            <img class="image" src="{% static 'guide/images/img_map.png' %}">
                            <button class="btn btnGreen not-shadow">Посмотреть на карте</button>
                        </a>

                        <form method="get" action="" class="formFilter">
                            <div class="formGroup">
                                <select name="country" class="custom-select custom-select-sm countries-select">
                                    <option value="">Выберите страну</option>
                                    {% for country in dbCountries %}
                                        {% if queryCountries and queryCountries == country.handle %}
                                            <option value="{{ country.handle }}" selected>{{ country.title }}</option>
                                        {% else %}
                                            <option value="{{ country.handle }}">{{ country.title }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="buttons">
                                <a href="/category/synagogues/" class="btn btn-outline-secondary btn-block">Сбросить</a>
                                <button type="submit" class="btn btnGreen">Найти</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="content">
                    <div class="lineTitle"> Синагоги
                        <div class="gridPanel" data-grid="1">
                            <span data-id="0" class="material-icons icon-th-list is-active ">view_module</span>
                            <span data-id="1" class="material-icons icon-th">view_stream</span>
                        </div>
                    </div>

                    <section class="items news-th x3" data-grid="1">
                        {% for synagogue in dbSynagogues %}
                            <article class="item">
                                <div class="wrapper">
                                    <a href="{% url 'guide:synagogue' synagogue.handle %}" class="it_pic">
                                        <div class="imageCover ratio-3-4">
                                            <div class="placeholder" style="background-image: url('{{ synagogue.pic.url }}')"></div>
                                            <img src="{{ synagogue.pic.url }}" alt="" class="image">
                                        </div>
                                    </a>

                                    <div class="it_content">
                                        <h2 class="title">
                                            <a href="{% url 'guide:synagogue' synagogue.handle %}">{{ synagogue.title }}</a>
                                        </h2>
                                        {% if synagogue.preview_text != null %}
                                            <div class="description">{{ synagogue.preview_text|linebreaksbr }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}